table {
    width: 100%;
    background-color: transparent
  }

  .pub-search-container
  {
    width: 90%;
    margin: auto;
    min-height: 60em;
    
  }
  .paginator
  {
    background-color: transparent
  }
.image-pub
{
    height: 17em;
    width: 99%;
    margin-left: 1%;

}
.image-pub:hover{
    opacity: 0.7;
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    
}