.menu-tab
{
    background: rgb(59,94,8);
    background: linear-gradient(90deg, rgba(59,94,8,1) 0%, rgba(70,110,9,1) 50%, rgba(109,173,13,1) 100%);
}
.menu-spacer
{
    width: 50%;
    margin-left: 10%;
}
a{
    text-decoration: none;
}
button
{
    text-decoration: none
}
.logo-image
{
    height: 6em;
}
.main-menu-list
{
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center
}
.sub-menu-list
{
    color: white;
}
