<div class="footer-container"> 
            <div class="footer-header">
                    <mat-grid-list cols="3" rowHeight="300px">
                            <mat-grid-tile [colspan]="1" [rowspan] = "1">
                                <div>
                                    <h5>Navigate</h5>
                                    <mat-nav-list>
                                        <a mat-list-item [routerLink]="'home'"> Home <mat-icon matListIcon>home</mat-icon></a>
                                        <a mat-list-item [routerLink]="'about'"> About <mat-icon matListIcon>assignment</mat-icon></a>
                                        <a mat-list-item [routerLink]="'contact'"> Contact <mat-icon matListIcon>phone</mat-icon></a>
                                        <a mat-list-item [routerLink]="'#'">  Search irish pubs <mat-icon matListIcon>search</mat-icon></a>
                                    </mat-nav-list>
                                </div>

                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan] = "1">
                                <div>
                                    <h5>Oldest irish pubs</h5>
                                    <mat-nav-list *ngFor="let pub of oldestPubs">                                        
                                        <a mat-list-item [href]="pub.website" target="_blank">                        
                                        <div class="mr-1" style="font-family: FirstLetter; font-size: 1.8em">{{pub.name | slice: 0:1}}</div>
                                            {{pub.name}} 
                                        </a>                                                         
                                    </mat-nav-list>
                                </div>

                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan] = "1" >
                                <div>
                                    <h5>Irish Pubs</h5>
                                    <p>Registered in Ireland</p>
                                </div>
                            </mat-grid-tile>
            
                    </mat-grid-list>
            </div>

          <div class="footer-bottom">
                <mat-grid-list cols="3" rowHeight="80px">
                        <mat-grid-tile [colspan]="1" [rowspan] = "1">
                            <span class="footer-bottom-text">@ zunalab - All rights reserved</span>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan] = "1">
                            <span class="footer-bottom-text">Designed by Pedro</span>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan] = "1">
                            <a href="https://www.linkedin.com/in/pedro-t-383262138/" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true" matTooltipClass="tooltip-white"
                                    matTooltip="My linkedin" style="color:gainsboro">
                                </i>
                            </a>    
                        </mat-grid-tile>
        
                </mat-grid-list>

          </div>

</div>
