.register-form
{
    width: 60%;
    margin: auto;
}
.full-width
{
    width: 95%;
    margin-left: 1em;
}
.half-width
{
    width: 45%;
    margin-left: 1em;
}
.thirdth-width
{
    width: 25%;
    margin-left: 1em;
    margin-right: 3em;
}