<div class="myContainer">
    <div class="row mt-4">
            <h4 class="about-title">About Pubs Ireland</h4>

    </div>
    <div class="row">
            <p class="about-text">
                Pubs Ireland is an application where you can find useful information about Irish pubs, 
                such as location, contact, pubs info etc. 
            </p>
    </div>
    <mat-divider></mat-divider>
    <div class="row mt-4">
        <h4 class="about-title">The application</h4>

    </div>
    <div class="row">
            <p class="about-text">       
                    This application was built (still on progress) for the only (and only) training and studying 
                    purpose. We do not intend to gain any financial advantage by using the pubs images and information. 
                    The data was purely collected from the pub’s websites. 
            </p>
    </div>
    <mat-divider></mat-divider>
    <div class="row mt-4">
        <h4 class="about-title">Technology used</h4>

    </div>
    <div class="row">
            <mat-list role="list" class="about-text">
                    <mat-list-item role="listitem" class="about-text">.Net Core 2.2</mat-list-item>
                    <mat-list-item role="listitem" class="about-text">Angular</mat-list-item>
                    <mat-list-item role="listitem" class="about-text">Angular Material</mat-list-item>
                    <mat-list-item role="listitem" class="about-text">Bootstrap</mat-list-item>
                    <mat-list-item role="listitem" class="about-text">Json Web tokens</mat-list-item>
            </mat-list>
    </div>
    <mat-divider></mat-divider>
    <div class="row mt-4">
        <h4 class="about-title"> Future Implementations:</h4>        
    </div>
    <div class="row">
        <p class="about-text">
        As said before, the application is still on progress, so many features are still need to be 
        implemented, some of which, but not limited to, are:
        </p>            
    </div>
    <div class="row">
            <mat-list role="list">
                    <mat-list-item role="listitem" class="about-text">Photo Upload</mat-list-item>
                    <mat-list-item role="listitem" class="about-text">Reviews Start from Google</mat-list-item>
                    <mat-list-item role="listitem" class="about-text">Photo Gallery</mat-list-item> 
                    <mat-list-item role="listitem" class="about-text">Improve UI</mat-list-item>    
            </mat-list>
    </div>

</div>

