.edit-profile-container
{
    width: 90%;
    margin: auto;
    margin-top: 5em;
    min-height: 50em;
    margin-bottom: 20px;

}
.edit-form
{
    width: 60%;
    margin: auto;
}
.full-width
{
    width: 95%;
    margin-left: 1em;
    margin-bottom: 1em;
}
.half-width-wrapper
{
    width: 100%;
}
.half-width
{
    width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
}
.thirdth-width
{
    width: 25%;
    margin-left: 1em;
    margin-right: 3em;
    margin-bottom: 1em;
}