<div class="my-container">
    <div class="contact-box text-break text-wrap">
    <div class="row mt-6">
        <div class="col-lg-4 col-md-8">                
            <div class="row mt-5 justify-content-center">
                <div class="icon-box">
                    <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>
                </div>    

            </div>    
            <div class="row mt-5 justify-content-center">
                <h4>Address</h4>
            </div>
            <div class="row justify-content-center">
                <p>Dublin 15, Dublin</p>
            </div>
            <div class="row justify-content-center">
                <p>Ireland</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="row mt-5 justify-content-center">
                <div class="icon-box">
                    <i class="fa fa-volume-control-phone fa-4x" aria-hidden="true"></i>
                </div>
            </div>    
            <div class="row mt-5 justify-content-center">
                <h4>Phone</h4>
            </div>
            <div class="row justify-content-center">
                <p>01 123456</p>
            </div> 
            <div class="row justify-content-center">
                <p>089 4** ****</p>
            </div>                   
        </div>
        <div class="col-lg-4 col-md-8 align-items-center">                
            <div class="row mt-5 justify-content-center">
                <div class="icon-box">
                    <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
                </div>
            </div>    
            <div class="row mt-5 justify-content-center">
                <h4>Email</h4>
            </div>
            <div class="row justify-content-center text-wrap">
                <p class="text-break" style="ord-wrap: break-word">pmauriciotavares@yahoo.com.br</p>
            </div>
            <div class="row justify-content-center">
                <a href="https://www.linkedin.com/in/pedro-t-383262138/" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>